{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases
 {:dev
  {}

  :cljs
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.597"}}}

  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner
                       {:git/url "https://github.com/cognitect-labs/test-runner"
                        :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
         :main-opts ["-m" "cognitect.test-runner"
                     "-d" "test"]}
  :test-cljs {:extra-paths ["test"]
              :extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
              :main-opts ["-m" "cljs-test-runner.main"]}

  :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"]}}
 }
